#main {
	width: 101.3%!important;
}

.widget.feature .feature-bgimg .content {
	background-color: transparent;
}

input[type=text],
input[type=email],
.widget.profile form fieldset input,
textarea,
.widget.ecomcheckout .delivery select {
	padding: 2px 5px 16px 16px;
}