{% extends "layout.twig" %}
{% block content %}

<section class="page home">

			{% include 'includes/header.twig' %}

		<div class="feature-overlay">
			{{widget('feature', 'feature', {"header": "HANDPICKED CLOTHING", "strapline":"Non scelerisque mus lacus cursus auctor.", "buttonText":"SEE OUR FULL RANGE","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
		</div>


		<div class="wrapper">
			{{zone('main')|raw}}
		</div>

	{% include 'includes/footer.twig' %}


</section>


{% endblock %}