<!-- Footer Include !-->
<footer class="template-footer">

	<div class="wrapper clearfix">
	        <div class="footer-content">
	        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	        {{widget('profile', 'footer-social', { 'profileType':'socialicons', 'socialicons':'profile', 'refreshtime':'1800000'})|raw}}
	        </div>
	        <div class="copyright-container">
	        	{{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'profile', 'refreshtime':'1800000'})|raw}}

	        </div>
	    </div>

</footer>



